<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>


<nav>
  <div class="nav-wrapper">
    <a href="#" class="right brand-logo">Freak's Blog</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a  routerLink="homepage">Home</a></li>
      <li><a routerLink="login">Add Blog</a></li>
      <!--<li><a href="SearchByCategory.html">Search by Category</a></li>-->
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>




<!--<app-routlet></app-routlet>-->
<!--<div *ngFor="let b of blogData">-->
  <!--{{b.blogTitle}}-->
<!--</div>-->
