<div class="row" id="loginPage">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input id="aName" type="text" class="validate" name="authorName" [(ngModel)]="authorName">
        <label for="aName">Author Name</label>
      </div>

      <div class="input-field col s6">
        <input id="bTitle" type="text" class="validate" name="blogTItle" [(ngModel)]="blogTitle">
        <label for="bTitle">Blog Title</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="bContent" type="text" class="validate" name="blogContent" [(ngModel)]="blogContent">
        <label for="bContent">Blog Content</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <input id="bCategory" type="text" class="validate" name="blogCategory"[(ngModel)]="blogCategory">
        <label for="bTitle">Blog Category</label>
      </div>
    </div>


    <div class="row">
      <div class="input-field col s1">
        <button class="btn waves-effect waves-light" type="submit" (click)="onSubmit(blogTitle, blogContent, authorName, blogCategory)" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>
